
<div class="d-flex flex-column min-vh-100">
  <app-navbar></app-navbar>
<div class="row">

<div class="text-center" >
  <p class="alert p-1 mt-2 mb-0 alert-info ">Enter a city to view its weather</p>
  <p class="alert p-1 mt-1 alert-warning "><strong>Note: </strong> Some icons may not display due to insufficient data from the API. Please try searching for different cities with varying weather conditions, such as London. </p>
</div>

   
    <router-outlet></router-outlet>
</div>

<app-footer class="mt-auto">

</app-footer>
</div>
